.cta{
    .arrow{
        transform: rotate(-90deg) scale(0);
        width: 0px;
        padding: 0px;
        transition: all 0.5s ease-in-out;
        img{ 
            width: 18px;
        }
    }
    &:hover{
        .arrow{
            transform: rotate(135deg) scale(1);
            width: 25px;
            margin-left: 12px;
            padding: 7px;
        }
    }
}
